@import './base.css';

* {
	box-sizing: border-box;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  align-content: center;
  justify-content: center;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
  justify-self: center;
  align-self: center;
}

a:hover {
  transition: 300ms;
  color: darkgreen;
}

.green {
  background-color: #088a43;
  color: rgb(255, 255, 255);
}

.danger {
  background-color: #b81515;
  color: #fff;
}

.info {
  background-color: #3187b9;
  color: #fff;
}

button {
  padding: 8px 15px;
  border: 1px solid rgb(52, 52, 52);
  color: #333;
  background-color:#fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

form {
  border-radius: 30px;
  background-color: grey;
  color: black;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formField {
  width: 300px;
  display: flex;
  justify-content: space-between;
}